.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}
.footer__box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer__holder{
  @extend .footer__box;
}
.footer-address__box {
  margin-right: 70px;
}
.footer__logo {
  margin-bottom: 20px;
}
.address {
  font-style: normal;
  color: var(--primary-background-color);
}
.address__text {
  margin-top: 0;
  margin-bottom: 9px;
}
.connect{
  display: block;
}
.connect__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
.connect__list {
  @extend %list-style;
  display: flex;
  justify-content: space-between;
  & li:not(:last-child) {
    margin-right: 10px;
  }
}

.connect-social__link {
  @extend .social__link;
  background-color: rgba(255, 255, 255, 0.1);
  &:hover, &:focus{
    background-color: var(--hover-text-color);
  }
}
.footer-social__icon {
  fill: var(--primary-background-color);
}





.footer__contact-list{
  @extend %list-style;
}

.footer__contact-list a {
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contact-footer-text);
    text-decoration: none;
    transition: color 250ms var(--cubic-bezier);
    &:hover, &:focus{color: var(--hover-text-color);

    }
  }
  .footer_link {
    display: inline-block;
    margin-bottom: 9px;
  }
  
  