.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--logo-stan-color);
    margin-right: 93px;
  }
  .logo__span {
    color: var(--hover-text-color);
  }
  .footer-logo__color {
    color: var(--primary-background-color);
  }