.filter{
    @extend %section;
}
.filter__list {
    @extend %list-style;
    display: flex;
    justify-content: center;
    & .filter__items:not(:last-child) {
        margin-right: 8px;
      }
    
  }